*.o
*.a
*.so
*.db
*.bak
*.bakk
*.d
*.d.*
*~
\#*
main
c-version
opencl-version
new
img
*.png
*.jpeg
*.webp
*.jpg
*.log
*.bin
*.out
analysis.txt

/TODO
/test

/build
.project
.cproject
/.ropeproject/
/maker.so
/tests/.ropeproject/
/tests/maker.so
/tests/converter
/tests/c-maker
/c/semantic-opencl
/.idea
/c/mirror
/c/curtain
